*{
    margin: 0;
    padding: 0;
    font-family: 'myFont', sans-serif;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: myFont;
    src: url(Fonts/Rajdhani-Regular.ttf);
}

/* -------------- Header ---------------*/
.header{
    min-height: 120vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4, 9, 30, 0.7)), url(images/Esport_background2.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}

#navbar{
    background-color:rgba(211, 211, 211, 0.573);
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    height: 65PX;
    top: 0;
    position: sticky;
    z-index: 2; /* Set the navigation bar to most front */
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 55px;
    padding-left: 20px;
}

.nav-links{
    flex: 1;
    text-align: right; 
    text-decoration: none;
    z-index: 2;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 15px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #000000;
    text-decoration: none;
    font-size: 18px;
}

.nav-links a:hover{
    color: #F90854;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #F90854;
    display: block;
    margin: auto;
    transition: 0.2s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.nav-links .close-btn{
    display: none;
}
.menu-btn{
    display: none;
}

/* --------------- Content -------------------*/

.title{
    width: 100%;
    color: #fff;
    font-size: 25px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}

.trailer{
    text-align: center;
    padding-top: 80px;
}

.Announcement{
    width: 100%;
    min-height: 120vh;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4, 9, 30, 0.7)), url(images/Esport_background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.tourney{
    margin-top: 5%;
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(2, 0.4fr);
    padding-top: 90px;
    padding-left: 26%;
}

.tourney h1{
    font-size: 27px;
    color: #fff;
}

.info{
    background-color: #F90854;
    height: 180px;
    width: 190px;
    border-radius: 10px;
    text-align: center;
}

.info img{
    padding-top: 10px;
}
#trophy{
    width: 85px;
}
#user{
    width: 115px;
    margin-top: -20px;
    margin-bottom: -15px;
}
#money{
    width: 75px;
    padding-bottom: 5px;
}
#flag{
    width: 80px;
    padding-bottom: 5px;
}

.Sponsorship{
    width: 100%;
    min-height: 20vh;
    height: 50%;
    background-image: linear-gradient(rgba(41, 42, 45, 0.7), rgba(53, 54, 57, 0.7)), url(images/Esport_background3.webp);
    background-position: center;
    background-size: cover;
    position: relative;
}

.sponsor-list{
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(4, 0fr);
    padding-top: 85px;
    padding-left: 20%;
}

.sponsor-list h2{
    width: 100%;
    color: #fff;
    font-size: 35px;
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}

#logo{
    height: 160px;
    width: 160px;
    text-align: center;
    padding-top: 55px;
}

/* Footer section */

.container{
    min-height: 15vh;
    width: 100%;
    background-color: rgba(211, 211, 211, 0.573);
    background-position: center;
    background-size: cover;
    position: relative;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.container ul{
    list-style: none;
}

.footer{
    background-color: rgba(211, 211, 211, 0.573);
    position: absolute;
    width: 100%;
    margin-top: auto;
}

.footer-col{
    width: 100%;
}

.footer-col h1{
    color: #F90854;
    top: 80%;
    left: 3%;
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 500;
    position: relative;
}

.footer-col h2{
    position: absolute;
    top: 1px;
    left: 0;
    right: 60px;
    padding: 5px;
    text-align: right;
    
}

.footer-col ul{
    position: absolute;
    top: 20px;
    left: 0;
    right: 48px;
    text-align: right;
}

.social-links img{
    width: 20px;
    padding-top: 9px;
}
#twitter{
    width: 18px;
    padding-left: 1px;
}
#youtube{
    padding-top: 7px;
}

.footer-col .social-links a{
    float: right;
    display: inline-block;
    height: 35px;
    width: 35px;
    background-color: #000000;
    margin: 25px 5px 10px;
    text-align: center;
    line-height: 37px;
    border-radius: 50%;
    color: #fff;
}

/* Media Screen Rule */
@media(max-width: 768px){
    .text-box{
        z-index: 0;
    }
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .text-description{
        z-index: 0;
    }
    .text-description h1{
        padding-top: 50px;
    }
    .text-description p{
        float: none;
        text-align: center;
        width: 85%;
        padding-top: 1px; 
        margin-top: 1px;
    }
    .text-description img{
        float: none;
        width: 75%;
        left: 12.5%;
        padding-top: 1px;
        margin-top: 1px;
    }

    .nav-links{
        position: absolute;
        background: rgb(148, 148, 148);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.5s;
    }
    .nav-links .close-btn{
        display: block;
        color: #000000;
        margin: 10px;
        padding-top: 15px;
        padding-left: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .menu-btn{
        display: block;
        color: #000000;
        margin: 10px;
        padding-right: 10px;
        font-size: 20px;
        cursor: pointer;
    }

    .nav-links ul{
        padding: 30px;
    }

    .title{
        font-size: 15px;
    }

    .trailer video{
        width: 300px;
        height: 200px;
        padding-top: 40px;
    }

    .tourney{
        padding-top: 40px;
        gap: 10px;
        grid-template-columns: repeat(1, 0fr);
    }

    #logo{
        height: 80px;
        width: 80px;
        padding-top: 55px;
    }

    .sponsor-list{
        gap: 10px;
        grid-template-columns: repeat(2, 0fr);
        padding-left: 30%;
        padding-top: 70px;
    }

    .footer-col{
        font-size: 10px;
    }
    .footer-col h1{
        font-size: 18px;
    }
    .footer-col h2{
        right: 37px;
        font-size: 20px;
    }
    .footer-col ul{
        top: 10px;
        left: 0;
        right: 15px;
        text-align: right;
    }
}

body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}