*{
    margin: 0;
    padding: 0;
    font-family: 'myFont', sans-serif;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: myFont;
    src: url(Fonts/Rajdhani-Regular.ttf);
}

/* -------------- Header ---------------*/
.header{
    min-height: 120vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4, 9, 30, 0.7)), url(images/News_background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

#navbar{
    background-color:rgba(211, 211, 211, 0.573);
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    height: 65PX;
    top: 0;
    position: sticky;
    z-index: 2; /* Set the navigation bar to most front */
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 55px;
    padding-left: 20px;
}

.nav-links{
    flex: 1;
    text-align: right; 
    text-decoration: none;
    z-index: 2;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 15px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #000000;
    text-decoration: none;
    font-size: 18px;
}

.nav-links a:hover{
    color: #F90854;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #F90854;
    display: block;
    margin: auto;
    transition: 0.2s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.nav-links .close-btn{
    display: none;
}
.menu-btn{
    display: none;
}

/* --------------- Content -------------------*/
.title-box{
    width: 100%;
    color: #fff;
    font-size: 35px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}

/* News section */

.news-list{
    display: grid;
    gap: 20px;
    margin-bottom: 40px;
    margin: 0 auto;
    overflow-x: auto;
    scrollbar-width: 3px;
    grid-template-columns: repeat(10, 1fr);
    grid-column-gap: 1em;

    padding-top: 110px;
    padding-bottom: 24px;
    padding-left: 30px;
    padding-right: 20px;
}

.box{
    width: 360px;
    height: 330px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 11px 11px 23px 5px rgba(85, 85, 85, 1);
}

.box h2{
    color: #000000;
    padding-left: 10px;
}

.box h3{
    color: #000000;
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

.box h4{
    font-size: 15px;
    left: 10px;
    position: relative;
    background-color: #F90854;
    color: #fff;
    text-align: center;
    width: 70px;
    border-radius: 5px;
}

.box img{
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

.news-list{
    align-items: center;
    gap: 20px;
}


/* Footer section */

.container{
    min-height: 15vh;
    width: 100%;
    background-color: rgba(211, 211, 211, 0.573);
    background-position: center;
    background-size: cover;
    position: relative;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.container ul{
    list-style: none;
}

.footer{
    background-color: rgba(211, 211, 211, 0.573);
    position: absolute;
    width: 100%;
    margin-top: auto;
    bottom: 0;
}

.footer-col{
    width: 100%;
    min-height: 8vh;
}

.footer-col h1{
    color: #F90854;
    top: 60%;
    left: 3%;
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 500;
    position: relative;
}

.footer-col h2{
    position: absolute;
    top: 1px;
    left: 0;
    right: 60px;
    padding: 5px;
    text-align: right;
    
}

.footer-col ul{
    position: absolute;
    top: 20px;
    left: 0;
    right: 48px;
    text-align: right;
}

.social-links img{
    width: 20px;
    padding-top: 9px;
}
#twitter{
    width: 18px;
    padding-left: 1px;
}
#youtube{
    padding-top: 7px;
}

.footer-col .social-links a{
    float: right;
    display: inline-block;
    height: 35px;
    width: 35px;
    background-color: #000000;
    margin: 25px 5px 10px;
    text-align: center;
    line-height: 37px;
    border-radius: 50%;
    color: #fff;
}

/* Media Screen Rule */
@media(max-width: 768px){
    .text-box{
        z-index: 0;
    }
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }

    .title-box{
        margin-top: -320px;
        padding-top: 30px;
    }
    .header{
        min-height: 340vh;
    }

    .nav-links{
        position: absolute;
        background: rgb(148, 148, 148);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.5s;
    }
    .nav-links .close-btn{
        display: block;
        color: #000000;
        margin: 10px;
        padding-top: 15px;
        padding-left: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .menu-btn{
        display: block;
        color: #000000;
        margin: 10px;
        padding-right: 10px;
        font-size: 20px;
        cursor: pointer;
    }

    .nav-links ul{
        padding: 30px;
    }

    .news-list{
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column;
        padding-left: 5px;
        padding-top: 120px;
    }

    .box{
        height: 370px;
    }

    .footer-col{
        font-size: 10px;
    }
    .footer-col h1{
        font-size: 18px;
    }
    .footer-col h2{
        right: 37px;
        font-size: 20px;
    }
    .footer-col ul{
        top: 10px;
        left: 0;
        right: 15px;
        text-align: right;
    }
}

body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}